{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/dist/style.css">
</head>
<body>
    
    <div>
        <ul>
            {{ if .UserID }}
                <li><a href="/">Home</a></li>
                <li><a href="/profile/{{.UserID}}">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {{ else }}
                <li><a href="/welcome">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {{ end }}
        </ul>
    </div>
        
{{ end }}