{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dist/style.css">
</head>
<body>

    <div class="header_loggedin">

      <div class="left">
        {{ if .UserID }}
          <a href="/">Home</a>
          <a href="/profile/{{.UserID}}">Profile</a>
          <a href="/logout">Logout</a>
        {{ else }}
          <a href="/welcome">Home</a>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        {{ end }}
      </div>

    </div>

{{ end }}
